.paragraph {
  font: Courier;
  font-size: 35px;
}

#Genre {
  font: Courier;
  font-size: 40px;
  color: black;
}

#background2 {
  height: 60vh;
  background-size: cover;
  align-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

body {
  background-color: rgb(230, 236, 247);
}

#cardP {
  font: Courier;
  font-size: 30px;
  font-style: italic;
  color: black;
}
