body {
  background-color: rgb(230, 236, 247);
}
.gold-foil {
color:#c3a343;
-webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(abstract-art-attractive-1122400.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  font: Courier;
  font-weight: bolder;
  text-align: center;
  font-size: 80px;
}


.bGi{
  background-image: url("bloom-blossom-botanical-403575.jpg");
   background-repeat: no-repeat;
   height: 80vh;
   background-size: cover;
   align-content: center;
   margin-top: 4em;
   margin-bottom: 4em;
}

#BButton {
  border-radius: 25px;
  font-weight: bolder;
  font: Courier;
  font-size: 28px;
  height: 5em;
  width: 12em;
}
