img {
  height: 60%;
  width: 60%;
}

h2.header {
  font-family: Cinzel;
  font-size: 125px;
  text-align: center;
  margin-bottom: -70px;
  letter-spacing: .2em;
}


h3.header2 {
  font-family: Tangerine;
  text-align: center;
  font-size: 70px;
}

div.card-panel.white {
  width: 375px;
  height: 300px;
  opacity: 0.75;
  text-align: center;
  padding-top: 72px;
  align-self:center;
  margin: 100px auto 0px auto;
}

span.black-text {
  font-family: Cinzel;
  font-size: 28px;
  font-style: italic;
}

a.navtext {
  margin-right: 15px;
  font-family: Cinzel;
  font-size: 150%;
  letter-spacing: 4px;
}

a.mobileMenu {
  font-family: Cinzel;
  letter-spacing: 2px;
}
